<div class="container-fluid">
  <article>
    <div style="box-shadow: 0 20px 50px rgb(110 0 0 / 100%);">
    <div class="card" style="width: 400px;">
      <img class="card-img-top" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{ poster }}" alt="Card image cap" style="width:400px;height:500px;">
      <div class="card-body">
        <h2 class="card-title">{{ title }} | {{ date }}</h2>
        <p class="card-text">{{content}}</p>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" (click)="onAddMovieToList()">Add to My List</button>
              <!-- <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                </div>
              </ng-template>
              <br>
              <button class="btn btn-outline-primary mb-2 mr-2" (click)="openWindowCustomClass(content)">Launch Trailer</button> -->
            </div>
          </div>
      </div>
    </div>
    </div>
  </article>
  </div>
